.container {
  width: 48px;
  height: 24px;
  border: 1.5px solid rgb(29 78 216);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.theme {
  transition: all 0.3s;
}

.ball {
  width: 17px;
  height: 17px;
  background-color: rgb(29 78 216);
  border-radius: 50%;
  position: absolute;
}
