.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
}

.item {
  margin: 30px;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;
  width: 500px;
}

.item:hover {
  transform: scale(0.9);
}

.categoryname {
  -webkit-border-radius: 41px;
  border-radius: 41px;
  background: #0f172a;
  -webkit-box-shadow: 9px 9px 22px #060911, -9px -9px 22px #182543;
  box-shadow: 9px 9px 22px #060911, -9px -9px 22px #182543;
  color: #ffff;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 120px;
  border-radius: 10px;
}

.animatebox {
  width: 250px;
  margin: 0 auto;
}
