.top {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.author {
  display: flex;
  align-items: center;
}

.author p {
  margin-left: 20px;
}

.bottom {
  margin-top: 50px;
}

.desc {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #425effee;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 15px;
}
