.forminput {
  color: black;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.newpost {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.addtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.forminput {
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: rgb(23 37 84);
  outline: none;
  border-radius: 10px;
  transition: all 0.3s;
  border: 2px solid transparent;
  color: #ffff;
}

.forminput:focus {
  border: 2px solid #ffff;
}

.contentarea {
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: rgb(23 37 84);
  outline: none;
  border-radius: 10px;
  transition: all 0.3s;
  border: 2px solid transparent;
  resize: none;
}

.contentarea:focus {
  border: 2px solid #ffff;
}

.sendButton {
  padding: 8px;
  background-color: #425effee;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 30px;
}

.sendButton:hover {
  opacity: 0.7;
}

.post {
  margin: 10px;
  display: flex;
  flex-direction: row;
  max-height: 150px;
  align-items: center;
  max-width: 900px;
}

.imagepost {
  border-radius: 15px;
}

.postleft {
  margin-left: 40px;
}

.posttitle {
  font-size: 26px;
  font-weight: bold;
}

/* .delete {
  background-color: rgb(29 78 216);
  padding: 6px 10px;
  border-radius: 15px;
} */
